:root {
    /*Colors*/
    --mustard: yellow;
    --steelblue: steelblue;
    --dark: black;
    --light: white;

    /* Font sizes */
    --font-size-h1: 40px;
    --font-size-h2: 20px;
    --font-size-h3: 18px;
}