:root {
    /*Colors*/
    --mustard: #FFD454;
    --steelblue: #4885AD;
    --dark: black;
    --light: white;

    /* Font sizes */
    --font-size-body: 16px;
    --font-size-h1: 40px;
    --font-size-h1-mobile: 24px;
    --font-size-h2: 20px;
    --font-size-h2-mobile: 16px;
    --font-size-h3: 18px;
    --font-size-h3-mobile: 16px;
}